Laboratorios/Laboratorio_5/LabCinco_ProfArq_QoS/xml-resources/web-service-references/ProductWebService/wsdl/localhost_8080/LabCinco_ProfArq/ProductWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.webservice.labcinco.profarq.udea.edu.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.webservice.labcinco.profarq.udea.edu.co/" name="ProductWebService">
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:ssp="http://schemas.sun.com/2006/03/wss/server" xmlns:soaptcpsvc="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:sunwsp="http://java.sun.com/xml/ns/wsit/policy" wsu:Id="ProductWebServiceImplPortBindingPolicy">
<sp:SignedEncryptedSupportingTokens>
<wsp:Policy>
<sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
<wsp:Policy>
<sp:WssUsernameToken10/>
</wsp:Policy>
</sp:UsernameToken>
</wsp:Policy>
</sp:SignedEncryptedSupportingTokens>
<sp:SymmetricBinding>
<wsp:Policy>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:Basic128/>
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:IncludeTimestamp/>
<sp:Layout>
<wsp:Policy>
<sp:Strict/>
</wsp:Policy>
</sp:Layout>
<sp:OnlySignEntireHeadersAndBody/>
<sp:ProtectionToken>
<wsp:Policy>
<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
<wsp:Policy>
<sp:RequireIssuerSerialReference/>
<sp:WssX509V3Token10/>
</wsp:Policy>
</sp:X509Token>
</wsp:Policy>
</sp:ProtectionToken>
</wsp:Policy>
</sp:SymmetricBinding>
<sp:Wss11>
<wsp:Policy>
<sp:MustSupportRefEncryptedKey/>
<sp:MustSupportRefIssuerSerial/>
<sp:MustSupportRefThumbprint/>
</wsp:Policy>
</sp:Wss11>
<soaptcpsvc:OptimizedTCPTransport enabled="true"/>

<wsam:Addressing/>
</wsp:Policy>
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="ProductWebServiceImplPortBinding_delete_Input_Policy">
<sp:EncryptedParts>
<sp:Body/>
</sp:EncryptedParts>
<sp:SignedParts>
<sp:Body/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="To"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="From"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="AckRequested"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="CreateSequence"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="Sequence"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="MessageID"/>
<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="SequenceAcknowledgement"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="RelatesTo"/>
</sp:SignedParts>
</wsp:Policy>
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="ProductWebServiceImplPortBinding_delete_Output_Policy">
<sp:EncryptedParts>
<sp:Body/>
</sp:EncryptedParts>
<sp:SignedParts>
<sp:Body/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="To"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="From"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="AckRequested"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="CreateSequence"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="Sequence"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="MessageID"/>
<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="SequenceAcknowledgement"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="RelatesTo"/>
</sp:SignedParts>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://impl.webservice.labcinco.profarq.udea.edu.co/" schemaLocation="http://localhost:8080/LabCinco_ProfArq/ProductWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="LabCincoProfArqWebServiceException">
<part name="fault" element="tns:LabCincoProfArqWebServiceException"/>
</message>
<message name="save">
<part name="parameters" element="tns:save"/>
</message>
<message name="saveResponse">
<part name="parameters" element="tns:saveResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<portType name="ProductWebServiceImpl">
<operation name="find">
<input wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/findRequest" message="tns:find"/>
<output wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/findResponse" message="tns:findResponse"/>
<fault message="tns:LabCincoProfArqWebServiceException" name="LabCincoProfArqWebServiceException" wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/find/Fault/LabCincoProfArqWebServiceException"/>
</operation>
<operation name="save">
<input wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/saveRequest" message="tns:save"/>
<output wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/saveResponse" message="tns:saveResponse"/>
<fault message="tns:LabCincoProfArqWebServiceException" name="LabCincoProfArqWebServiceException" wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/save/Fault/LabCincoProfArqWebServiceException"/>
</operation>
<operation name="delete">
<input wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/deleteResponse" message="tns:deleteResponse"/>
<fault message="tns:LabCincoProfArqWebServiceException" name="LabCincoProfArqWebServiceException" wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/delete/Fault/LabCincoProfArqWebServiceException"/>
</operation>
<operation name="update">
<input wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/updateRequest" message="tns:update"/>
<output wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/updateResponse" message="tns:updateResponse"/>
<fault message="tns:LabCincoProfArqWebServiceException" name="LabCincoProfArqWebServiceException" wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/update/Fault/LabCincoProfArqWebServiceException"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/findAllResponse" message="tns:findAllResponse"/>
<fault message="tns:LabCincoProfArqWebServiceException" name="LabCincoProfArqWebServiceException" wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/findAll/Fault/LabCincoProfArqWebServiceException"/>
</operation>
</portType>
<binding name="ProductWebServiceImplPortBinding" type="tns:ProductWebServiceImpl">
<wsp:PolicyReference URI="#ProductWebServiceImplPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="LabCincoProfArqWebServiceException">
<soap:fault name="LabCincoProfArqWebServiceException" use="literal"/>
</fault>
</operation>
<operation name="save">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="LabCincoProfArqWebServiceException">
<soap:fault name="LabCincoProfArqWebServiceException" use="literal"/>
</fault>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="LabCincoProfArqWebServiceException">
<soap:fault name="LabCincoProfArqWebServiceException" use="literal"/>
</fault>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="LabCincoProfArqWebServiceException">
<soap:fault name="LabCincoProfArqWebServiceException" use="literal"/>
</fault>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="LabCincoProfArqWebServiceException">
<soap:fault name="LabCincoProfArqWebServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProductWebService">
<port name="ProductWebServiceImplPort" binding="tns:ProductWebServiceImplPortBinding">
<soap:address location="http://localhost:8080/LabCinco_ProfArq/ProductWebService"/>
</port>
</service>
</definitions>