Laboratorios/Laboratorio_5/LabCinco_ProfArq_WSClient/src/conf/xml-resources/web-service-references/ProductWebService/wsdl/localhost_8080/LabCinco_ProfArq/ProductWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.webservice.labcinco.profarq.udea.edu.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.webservice.labcinco.profarq.udea.edu.co/" name="ProductWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://impl.webservice.labcinco.profarq.udea.edu.co/" schemaLocation="http://localhost:8080/LabCinco_ProfArq/ProductWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="LabCincoProfArqWebServiceException">
<part name="fault" element="tns:LabCincoProfArqWebServiceException"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="save">
<part name="parameters" element="tns:save"/>
</message>
<message name="saveResponse">
<part name="parameters" element="tns:saveResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<portType name="ProductWebServiceImpl">
<operation name="findAll">
<input wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/findAllResponse" message="tns:findAllResponse"/>
<fault message="tns:LabCincoProfArqWebServiceException" name="LabCincoProfArqWebServiceException" wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/findAll/Fault/LabCincoProfArqWebServiceException"/>
</operation>
<operation name="find">
<input wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/findRequest" message="tns:find"/>
<output wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/findResponse" message="tns:findResponse"/>
<fault message="tns:LabCincoProfArqWebServiceException" name="LabCincoProfArqWebServiceException" wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/find/Fault/LabCincoProfArqWebServiceException"/>
</operation>
<operation name="save">
<input wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/saveRequest" message="tns:save"/>
<output wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/saveResponse" message="tns:saveResponse"/>
<fault message="tns:LabCincoProfArqWebServiceException" name="LabCincoProfArqWebServiceException" wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/save/Fault/LabCincoProfArqWebServiceException"/>
</operation>
<operation name="delete">
<input wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/deleteResponse" message="tns:deleteResponse"/>
<fault message="tns:LabCincoProfArqWebServiceException" name="LabCincoProfArqWebServiceException" wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/delete/Fault/LabCincoProfArqWebServiceException"/>
</operation>
<operation name="update">
<input wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/updateRequest" message="tns:update"/>
<output wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/updateResponse" message="tns:updateResponse"/>
<fault message="tns:LabCincoProfArqWebServiceException" name="LabCincoProfArqWebServiceException" wsam:Action="http://impl.webservice.labcinco.profarq.udea.edu.co/ProductWebServiceImpl/update/Fault/LabCincoProfArqWebServiceException"/>
</operation>
</portType>
<binding name="ProductWebServiceImplPortBinding" type="tns:ProductWebServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LabCincoProfArqWebServiceException">
<soap:fault name="LabCincoProfArqWebServiceException" use="literal"/>
</fault>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LabCincoProfArqWebServiceException">
<soap:fault name="LabCincoProfArqWebServiceException" use="literal"/>
</fault>
</operation>
<operation name="save">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LabCincoProfArqWebServiceException">
<soap:fault name="LabCincoProfArqWebServiceException" use="literal"/>
</fault>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LabCincoProfArqWebServiceException">
<soap:fault name="LabCincoProfArqWebServiceException" use="literal"/>
</fault>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LabCincoProfArqWebServiceException">
<soap:fault name="LabCincoProfArqWebServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProductWebService">
<port name="ProductWebServiceImplPort" binding="tns:ProductWebServiceImplPortBinding">
<soap:address location="http://localhost:8080/LabCinco_ProfArq/ProductWebService"/>
</port>
</service>
</definitions>