Laboratorios/Laboratorio_5/LabCinco_ProfArq/web/WEB-INF/wsit-co.edu.udea.profarq.labcinco.webservice.impl.ProductWebServiceImpl.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductWebService" targetNamespace="http://impl.webservice.labcinco.profarq.udea.edu.co/" xmlns:tns="http://impl.webservice.labcinco.profarq.udea.edu.co/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="delete"/>
    <message name="deleteResponse"/>
    <message name="LabCincoProfArqWebServiceException"/>
    <message name="find"/>
    <message name="findResponse"/>
    <message name="findAll"/>
    <message name="findAllResponse"/>
    <message name="save"/>
    <message name="saveResponse"/>
    <message name="update"/>
    <message name="updateResponse"/>
    <portType name="ProductWebServiceImpl">
        <operation name="delete">
            <input message="tns:delete"/>
            <output message="tns:deleteResponse"/>
            <fault name="LabCincoProfArqWebServiceException" message="tns:LabCincoProfArqWebServiceException"/>
        </operation>
        <operation name="find">
            <input message="tns:find"/>
            <output message="tns:findResponse"/>
            <fault name="LabCincoProfArqWebServiceException" message="tns:LabCincoProfArqWebServiceException"/>
        </operation>
        <operation name="findAll">
            <input message="tns:findAll"/>
            <output message="tns:findAllResponse"/>
            <fault name="LabCincoProfArqWebServiceException" message="tns:LabCincoProfArqWebServiceException"/>
        </operation>
        <operation name="save">
            <input message="tns:save"/>
            <output message="tns:saveResponse"/>
            <fault name="LabCincoProfArqWebServiceException" message="tns:LabCincoProfArqWebServiceException"/>
        </operation>
        <operation name="update">
            <input message="tns:update"/>
            <output message="tns:updateResponse"/>
            <fault name="LabCincoProfArqWebServiceException" message="tns:LabCincoProfArqWebServiceException"/>
        </operation>
    </portType>
    <binding name="ProductWebServiceImplPortBinding" type="tns:ProductWebServiceImpl">
        <wsp:PolicyReference URI="#ProductWebServiceImplPortBindingPolicy"/>
        <operation name="delete">
            <input>
                <wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Output_Policy"/>
            </output>
            <fault name="LabCincoProfArqWebServiceException"/>
        </operation>
        <operation name="find">
            <input>
                <wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Output_Policy"/>
            </output>
            <fault name="LabCincoProfArqWebServiceException"/>
        </operation>
        <operation name="findAll">
            <input>
                <wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Output_Policy"/>
            </output>
            <fault name="LabCincoProfArqWebServiceException"/>
        </operation>
        <operation name="save">
            <input>
                <wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Output_Policy"/>
            </output>
            <fault name="LabCincoProfArqWebServiceException"/>
        </operation>
        <operation name="update">
            <input>
                <wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#ProductWebServiceImplPortBinding_delete_Output_Policy"/>
            </output>
            <fault name="LabCincoProfArqWebServiceException"/>
        </operation>
    </binding>
    <service name="ProductWebService">
        <port name="ProductWebServiceImplPort" binding="tns:ProductWebServiceImplPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="ProductWebServiceImplPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing wsp:Optional="false"/>
                <tcp:OptimizedTCPTransport enabled="true"/>
                <sp:SymmetricBinding>
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                        <sp:RequireIssuerSerialReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:SignedEncryptedSupportingTokens>
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SignedEncryptedSupportingTokens>
                <sc:KeyStore wspp:visibility="private" location="C:\Users\Andersson\AppData\Roaming\NetBeans\7.4\config\GF_3.1.2.2\domain1\config\keystore.jks" type="JKS" storepass="changeit" alias="xws-security-server"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="ProductWebServiceImplPortBinding_delete_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="ProductWebServiceImplPortBinding_delete_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
